doctype
html
    head
        title= 'title' 
    body

    include ./navbar

    h3 Suh Dude
    script(src='/js/system/sockecluster.js')

    script(src='/js/libraries/jquery.min.js')
    script(src='/js/libraries/bootstrap.min.js')
    script(src='/js/libraries/director.min.js')
    script(src='/js/system/communication.min.js')
    script(src='/js/system/app.js')
