doctype html
html
    head
        title= title 
    body
        include ./navbar
        script(type='text/javascript', src='/views/app.js')

        div.container-fluid
            .row
                div.column-md-12(style="margin-top:50px")
                    section(data-route="dashboard", style="display-none")
                        include ./dashboard

                    section(data-route="about", style="display-none")
                        include ./about

                    section(data-route="about", style="display-none")
                        include users
                        
            script(src='/js/system/socketcluster.js')

            script(src='public/js/libraries/jquery.min.js')
            script(src='public/js/libraries/bootstrap.min.js')
            script(src='public/js/libraries/director.min.js')

            script(src='public/js/system/communication.min.js')
            script(src='public/js/system/server.js')
            script(src='/public/js/system/route.js')

            script(src='/js/models/about.js')
            script(src='/js/models/dashboard.js')
            script(src='/js/models/users.js')

            script(src='/public/js/system/startup.js')