doctype html
html
    head
        title= title 
    body

        .loading-page
            img(src='/images/loading.gif', alt='Loading Gif')

        .whole-page(style='display:none')

            include navbar

            div.container-fluid
                .row
                    div.column-md-12(style="margin-top:50px")
                        section(data-route="dashboard", style="display:none")
                            include dashboard

                        section(data-route="about", style="display:none")
                            include about

                        section(data-route="users", style="display:none")
                            include users
                        
    script(src='/js/system/socketcluster.js')

    script(src='/js/libraries/jquery.min.js')
    script(src='/js/libraries/director.min.js')

    script(src='/js/system/communication.min.js')
    script(src='/js/system/server.js')
    script(src='/js/system/route.js')

    script(src='/js/models/about.js')
    script(src='/js/models/dashboard.js')
    script(src='/js/models/users.js')

    script(src='/js/system/startup.js')